*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    color: azure;
}
#navbar{
    color:black;
    background-color:bisque;
    padding: 5px;

    
}
a{
    margin-left: 150px;
    color:black;
text-decoration: none;}
    
    #co{
        color: red;
        font-size: 40px;

    }
    
    

#START{


    background: url('./landing.jpg');
    text-align: center;}
    #shopping{
        height: 800px;
    width: 800px;
    padding-left: 100px;
    padding-top: 0px;
    position: relative;
     }
     #online{
        color:black;
        text-align: right;
        padding-top: 200px;
        padding-left: 100px;
        font-size: 100px;
        font-family: fantasy;
        padding-right: 100px;
     }
    #on{
        color: brown;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        text-align: right;
        padding-right:100px;
        padding-top: 30px;
    }
   #logo{
    font-family: cursive;
    font-size: 50px;
    color: blueviolet;
   }
   #ld{
    font-family:cursive;
    font-size: 70px;
    color: cadetblue;
    text-align: right;
    padding-right: 100px;
    padding-top:20px ;
   }
#button{
    color:white;
    background-color:blueviolet;
    margin-left: 1500px;
    font-size: 30px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}
#about{
    color:black;
    font-size: 50px;
    font-family: cursive;
    text-decoration: underline;
    text-align: center;
}
#para1{
    color: brown;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
#pic1{
    
    margin-top: 100px;
    padding-left: 700px;

}
#serv{
    color: black;
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
#list{
    color: brown;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#pic2{
height: 200px;
width: 100;
    margin-top: 10px;
    padding-left: 50px;
}
#information{
    color: black;
    font-family: cursive;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}
#para3{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;}
    

#contact{
    color: black;
    font-family: cursive;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
#landing{
    color:white;
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
footer{
    color: white;
    background-color: rgb(86, 83, 83);
    height: 300px;
    width: 2000px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
#con{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px
}
#submit{
    color: black;
    background-color: cadetblue;
}



